@font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("../pretendard/PretendardVariable.woff2") format("woff2");
}

/* @font-face {
  font-family: "Pretendard Variable";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/pretendard/PretendardVariable-Italic.woff2") format("woff2");
} */